body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}
.property {
    background: #ffffff;
    margin: 10px auto;
    padding: 15px;
    width: 300px;
    border-radius: 5px;
}
